@use '_variables' as *;
@use '_mixins' as *;

form {
  margin-top: 40px;
}

.radio-label {
  font-weight: $font-bold;
}

.retro3-radio-container {
  @include margin-right(30px);

  display: inline-block;
}

.retro3-select-container {
  @include retro3-select-container(auto);

  margin-bottom: 1rem;
}

input[type=text] {
  @include retro3-input-text(100%);
  display: block;
}

input[type=submit] {
  @include retro3-button-link;
  @include orange-button;
}

.submit-button {
  text-align: end;
}
