@use '_variables' as *;
@use '_mixins' as *;

input[type=submit] {
  @include retro3-button;
  @include orange-button;

  display: block;
  margin-top: 15px;
}

.retro3-select-container {
  @include retro3-select-container(340px);

  margin-bottom: 30px;
}
