extends ../common/greetings

block title
  | New retro3 version available

block content
  p
    | A new version of retro3 is available: #{latestVersion}.
    | You can check the latest news on #[a(href="https://joinretro3.org/news") JoinRetro3].
